<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Mars Rover</title>
  </head>
  <body>
    <div id="grid" onmousedown="activate(event)" onmouseover="reply_click(event)" onmouseup="deactivate()" style="margin: 0 auto;">
      <svg id="container" width="1920" height="1080"></svg>
    </div>
    <script src="../script.js"></script>
  </body>
</html>
